* {
  font-family: 'Roboto', sans-serif;
}
.container {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.buttons {
  margin: 0 auto;
}
.btn {
  margin: auto 15px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.message {
  flex:1;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  line-height: 1.9;
  text-transform: uppercase;
  font-weight: 300;
}